@model Models.Entities.Group

@{
    ViewBag.Title = "Delete";
}

<style>
    .header-h1 h1 {
        position: relative;
        padding-bottom: .5rem;
        font-size: 1.5rem;
        text-transform: uppercase;
        text-align: center;
        color: #B22222;
    }

        .header-h1 h1::before {
            content: "";
            position: absolute;
            border-bottom: 2px solid #B22222;
            bottom: .25rem;
            left: 50%;
            width: 30%;
            transform: translateX(-50%);
        }

        .header-h1 h1::after {
            content: "";
            position: absolute;
            border-bottom: 2px solid #B22222;
            bottom: 0;
            left: 50%;
            width: 15%;
            transform: translateX(-50%);
        }

    .header-h1-left h1 {
        text-align: left;
    }

        .header-h1-left h1::before,
        .header-h1-left h1::after {
            left: 0;
            transform: translateX(0);
        }
</style>
<div class="header-h1 header-h1-left">
    <h1>DELETE COMPANY</h1>
</div>

<h4 style="color:darkred">Are you sure you want to fire  @Model.Name?</h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GroupDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GroupAvatar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupAvatar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GroupAvatarFullSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupAvatarFullSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPrivate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPrivate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> 
        </div>
    }
</div>
