@model Models.Entities.Group

@{
    ViewBag.Title = "Details";
}

<style>
    .header-h1 h1 {
        position: relative;
        padding-bottom: .5rem;
        font-size: 1.5rem;
        text-transform: uppercase;
        text-align: center;
        color: #8FBC8F;
    }

        .header-h1 h1::before {
            content: "";
            position: absolute;
            border-bottom: 2px solid #8FBC8F;
            bottom: .25rem;
            left: 60%;
            width: 30%;
            transform: translateX(-50%);
        }

        .header-h1 h1::after {
            content: "";
            position: absolute;
            border-bottom: 2px solid #8FBC8F;
            bottom: 0;
            left: 50%;
            width: 15%;
            transform: translateX(-50%);
        }

    .header-h1-left h1 {
        text-align: left;
    }

        .header-h1-left h1::before,
        .header-h1-left h1::after {
            left: 0;
            transform: translateX(0);
        }
</style>
<div class="header-h1 header-h1-left">
    <h1>INFORMATION ABOUT GROUP</h1>
    <h3></h3>
    <h4>@Model.Name</h4>
</div>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GroupDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GroupAvatar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupAvatar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GroupAvatarFullSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupAvatarFullSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPrivate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPrivate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>

    </dl>
</div>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Create" class="btn btn-success" />
        <button class="btn btn-warning" onclick="location.href='@Url.Action("Index", "Group")' ">List Groups</button>

    </div>

</div>
