@model IEnumerable<Models.Entities.Group>

@{
    ViewBag.Title = "Index";
}
<style>
    body {
        margin-top: 20px;
        background-color: #eee;
    }

    .search-result-item {
        padding: 20px;
        background-color: #fff;
        border-radius: 4px
    }

    @@media (min-width:768px) {
        .search-result-item .image-link {
            display: inline-block;
            margin: 50px 0 -20px -20px;
            float: left;
            width: 200px;
        }
    }

    .search-result-item .image {
        max-width: 80%;
        border-radius: 100px;
        border: 3px;
        margin: 10px 10px 10px 10px
    }

    .search-result-item + .search-result-item {
        margin-top: 20px
    }

    @@media (min-width:768px) {
        .search-result-item-body {
            margin-left: 200px
        }
    }

    .search-result-item-heading {
        font-weight: 900;
        color: #555
    }

    .search-item-text {
        font-weight: 600;
    }

    .search-result-item-heading {
        font-weight: 900;
        color: #555
    }

    @@media (min-width:768px) {
        .search-result-item-heading {
            margin: 0
        }
</style>
<div class="jumbotron">
    
        <div class="row ng-scope">

            <div class="col-md-9 col-md-pull-3">
                @foreach (var item in Model)
                {
                    <section class="search-result-item">
                        <a class="image-link">
                            <img class="image" src="@Html.DisplayFor(modelItem => item.GroupAvatar)">
                        </a>
                        <div class="search-result-item-body">
                            <div class="row">
                                <div class="col-sm-9">
                                    <button style="font-size:30px" class="btn btn-link" onclick="location.href='@Url.Action("CreatorView","Group", new { id = item.Id})' "><strong> @Html.DisplayFor(modelItem => item.Name)</strong> </button>
                                    <p class="info">@Html.DisplayFor(modelItem => item.GroupDescription)</p>
                                    <p class="search-item-text"><strong>@Html.DisplayFor(modelItem => item.Size) Subscribers</strong></p>
                                </div>


                            </div>
                        </div>
                    </section>

                }

            </div>

            <div>
                <button class="btn btn-warning btn-lg" onclick="location.href='@Url.Action("Create", "Group")' "> Create </button>
            </div>

        </div>
    </div>
